<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    
    <rosparam file="$(find fast_lio_localization)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find fast_lio_localization)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find fast_lio_localization)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find fast_lio_localization)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find fast_lio_localization)/config/base_local_planner_params.yaml" command="load" />

    <remap from="odom" to="/Odometry"/>
    
    <remap from="map" to="/map_2d"/>
    
    <remap from="cmd_vel" to="/cmd_vel"/>
    
  </node>
</launch>
